@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #242333;
}

.heading{
    margin-top: 100px;
}

.text{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}

.book-movie {
    background-color: #242333;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    font-family: 'Lato', 'sans-serif';
    margin: auto;
    margin-top: 150px;
    -webkit-box-shadow: 0px 10px 19px -3px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 0px 10px 19px -3px rgba(0, 0, 0, 0.71);
    box-shadow: 0px 10px 19px -3px rgba(0, 0, 0, 0.71);
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: #2f2839;
    border: none;
    border-color: #2f2839;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: white;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat {
    background-color: #efefef;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: #fbff00;
}

.seat.occupied {
    background-color: #cd0000;
}

.seat:nth-of-type(3) {
    margin-right: 18px;
}

.seat:nth-last-of-type(3) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 10px;
}

.row {
    display: flex;
    height: 21px;
}

.screen {
    background-color: #fff;
    height: 80px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

p.text {
    margin: 5px 0;
    color: cornflowerblue;
    font-size: 22px;
    font-weight: 600;
}

p.text span {
    color: #c90d0d;
}

.button{
    margin-top: 9px;
    margin-bottom: 56px;
}

#book-btn {
    padding: 10px 20px;
    background-color: #530897;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  